/* .yash{
  justify-content: flex-start
  text-align: left;
} */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.container-flex{
  background-color:whitesmoke;

  /* text-align: right; */
}
  .container {
    display: flex; /* or inline-flex */
    /* background-color: whitesmoke; */
  }


  .top-buffer { 
    margin-top:20px;
   }
.image:hover {
  -webkit-filter: brightness(120%);
  /* transition: all .2s ease-in-out; */
  transform: scale(1.25);
}
.view{
  transition: all .4s ease-in-out;
}
.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}

/* h2 {
  margin: 50px 0px;
  text-align: center;
} */
.aside{
  background-color: whitesmoke;
  /* width: 300px; */
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 3px 1px -2px rgba(0,0,0,0.10), 0 1px 5px 0 rgba(0,0,0,0.2);
        margin: 20px 20px;
}
/* .jumbotron{
  background-color:whitesmoke;
} */
h3{
  padding: 1em;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}
 /* #test{ */
  /* margin-top: 25px;
  font-size: 21px;
  text-align: center; */

  /* -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     /* -moz-animation: fadein 5s; /* Firefox < 16 */
      /* -ms-animation: fadein 5s; Internet Explorer */
       /* -o-animation: fadein 5s; Opera < 12.1 */
          /* animation: fadein 5s; */ 
/* } */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.fa{
  padding: 1mm;
  color:navy;
  /* -webkit-filter: brightness(50%); */
  opacity: 75%;
  transition: transform 0.5s;
  animation-iteration-count: infinite;
}

.ali{
  text-align: center;
}

.fa:hover{
  /* -webkit-filter: brightness(100%); */
  opacity: 100%;
  transform: scale(1.5);
  
}

h6{
  text-align: center;
  opacity: 90%;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media all and (min-width: 1025px)
{
  #hii{
    font-size: 150px;
  }
.sti{
  /* position: -webkit-sticky; */
   /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  height: auto;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 80px; 
  right: 0;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  /* margin-top: 20px; */
  margin-right: 120px;
  margin-left: 40px;
  margin-bottom: 40px;
  /* background-color: black; */
}
.sl1{

  background-image: url("New folder/final1.jpg");
  background-attachment: fixed;
  background-position: center;
  height: 540px;
}
.sl2{
  
  /* The image used */
  background-image: url("New folder/final2.jpg");
  background-attachment: fixed;
  background-position: center;
  height: 500px;
  /* background-size: cover; */
}
#hom{
  padding-top: 250px;
  padding-bottom: 250px;
}
.h111{
  font-size: 80px;
  /* margin-right: 350px; */
  padding: 0.01em;
  text-align: left;
}
.h112{
  margin-top: 210px;
}
}
/* @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
  .sl1{

    background-color: aqua!important;
    height: 500px;
  }
} */
@media all and (max-width: 400px) /*iphone7*/
{
  #hii{
    font-size: 80px;
  }
  .sl1{
    /* background-color:red; */
    background-image: url("New folder/final1400x500.jpg");
    height: 500px;
  }
  .sl2{
    
    /* The image used */
    background-image: url("New folder/final2400x500.jpg");
    height: 500px;
    /* background-size: cover; */
  }
  .aside .image {
    width: 100px!important;
  }
  #smallicon1{
    font-size: 4px;
    color: whitesmoke;
  
  }
  div.jumbotron.jumbotron-fluid{
    padding: 5rem 1rem;
  }
  #hom{
    padding-top: 145px;
    padding-bottom: 145px;
  }
  .h111{
    padding: 0.05em;
    font-size: 50px;
    margin-right: 0px;
    padding: 0.05em;
    text-align: right;
  }
  .fa.fa-external-link{
    display: none;
  }
  .h112{
    text-align: center;
    margin-top: 10px;
  }
  #soc{
    padding-top: 0%!important;
  }
  /* .border{
    border-top: 0ch;
  } */
  .sti{
    /* margin-top: 10px; */
  
    /* margin-bottom: 10px; */
    margin-left: 15px;
  }
  #bgc{
    background-color: whitesmoke;
  }

}
/*larger phones*/
@media only screen and (min-width: 399px) and (max-width: 699px){
  #hii{
    font-size: 100px;
  }
  .sl1{
    background-image: url("New folder/final1800x700.jpg");
    /* background-attachment: fixed;
    background-position: center; */
    height: 600px;
  }
  .sl2{
    
    /* The image used */
    background-image: url("New folder/final2800x700.jpg");
    /* background-attachment: fixed;
    background-position: center; */
    height: 500px;
  
    /* background-size: cover; */
  }
  .aside .image {
    width: 100px!important;
  }
  #hom{
    padding-top: 250px;
    padding-bottom: 250px;
  }
  #smallicon1{
    font-size: 4px;
    color: whitesmoke;
    
  
  }
  .h111{
    padding: 0.1em;
    font-size: 50px;
    margin-right: 0px;
    padding: 0.05em;
    text-align: right;
  }
  .fa.fa-external-link{
    display: nones;
  }
  .h112{
    text-align: right;
    margin-top: 210px;
  }

}
/*ipad*/
@media only screen and (min-width: 700px) and (max-width: 1024px) and (orientation : landscape){
  #hii{
    font-size: 130px;
  }
  .sl1{
    background-image: url("New folder/final1800x700.jpg");
    /* background-attachment: fixed;
    background-position: center; */
    height: 600px;
  }
  .sl2{
    
    /* The image used */
    background-image: url("New folder/final2800x700.jpg");
    /* background-attachment: fixed;
    background-position: center; */
    height: 500px;
  
    /* background-size: cover; */
  }
  .aside .image {
    width: 100px!important;
  }
  #hom{
    padding-top: 250px;
    padding-bottom: 250px;
  }
  #smallicon1{
    font-size: 4px;
    color: whitesmoke;
    
  
  }
  .h111{
    padding: 0.1em;
    font-size: 50px;
    margin-right: 0px;
    padding: 0.05em;
    text-align: right;
  }
  .fa.fa-external-link{
    display: nones;
  }
  .h112{
    text-align: right;
    margin-top: 210px;
  }

}
/*ipad*/
@media only screen and (min-width: 700px) and (max-width: 1024px) and (orientation : portrait){
  #hii{
    font-size: 130px;
  }
  .sl1{
    background-image: url("New folder/final1800x700.jpg");
    /* background-attachment: fixed;
    background-position: center; */
    height: 600px;
  }
  .sl2{
    
    /* The image used */
    background-image: url("New folder/final2800x700.jpg");
    /* background-attachment: fixed;
    background-position: center; */
    height: 500px;
  
    /* background-size: cover; */
  }
  .aside .image {
    width: 100px!important;
  }
  #hom{
    padding-top: 250px;
    padding-bottom: 250px;
  }
  #smallicon1{
    font-size: 4px;
    color: whitesmoke;
    
  
  }
  .h111{
    padding: 0.1em;
    font-size: 65px;
    margin-right: 0px;
    padding: 0.01em;
    text-align: right;
  }
  .fa.fa-external-link{
    display: nones;
  }
  .h112{
    text-align: center;
    margin-top: 150px;
  }
  #soc{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #ipadpad{
    padding: 0%;
  }
 #notb{
   padding: 20px;
 }
}



span{
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
}
.jumbotron{
  /* visibility: hidden; */
  height: 30px;
  margin-bottom: 0!important;
}
#smallj{
  height: 70px!important;
}
.aside .image {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100px;
  padding: 1em;    
  transition: transform 0.5s;
  float: right;
}
h2{
  margin-bottom: 80px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  padding: 0.2em;
  border-left: 3px solid black;
  /* font-style: Extra-bold 800; */
}
.eff{
  background-color: black;
}

.sl1 {
  /* The image used */
  /* Set a specific height */
  /* height: 500px; */
  
  /* Create the parallax scrolling effect */

  background-repeat: no-repeat;
  background-size: cover;
  
}
.sl2{
  
  /* The image used */
  /* Set a specific height */
  /* height: 500px; */


  background-repeat: no-repeat;
  background-size: cover;
  
  }
h5{
  background-color: whitesmoke;
  font-family: 'Merriweather Sans', sans-serif;
  /* font-weight: 400; */
  text-align:left ;
  font-size: 15px;
  padding: 12px;
  padding-left: 50px;
  /* margin-top: 50px; */
}
.h11{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  color: white; 
  padding: 0.5em;
  font-size: 50px;
  margin-right: 400px;
}
.h112{
  /* margin-top: 210px; */
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  color: white; 
  padding: 0.5em;
  font-size: 50px;
  /* margin-right: 400px; */
}
#soc{
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: black;
  text-align: center;
  /* z-index: 1; */
}
.h13{
  font-size: 18px;
  opacity: 50%;
  color: white;
  padding: 0.5em;
}
#faco{
  color: white!important;

}
.inli{
  display: inline;
}
#hom{
  background-color:whitesmoke;

}
.homec{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 17px;
  color: black!important;
}
/* #bgblack{
  background-color: black;
} */
#smallicon1{
  font-size: 20px;
  color: whitesmoke;

}
#smallicon2{
  font-size: 20px;
  color: whitesmoke;

}
#smallicon3{
  font-size: 20px;
  color: whitesmoke;

}
#smallicon4{
  font-size: 20px;
  color: whitesmoke;

}
#smallicon5{
  font-size: 20px;
  color: whitesmoke;

}
#hone:hover{
  color: black!important;
  -webkit-text-stroke-width: 0.02em;
    -webkit-text-stroke-color: white;

}
#htwo:hover{
  color: black!important;
  -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: white;

}
#hthree:hover{
  color: black!important;
  -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: white;

}
#hfour:hover{
  color: black!important;
  -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: white;

}
#hfive:hover{
  color: black!important;
  -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: white;

}
.h111{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  color: white; 
  /* padding: 0.5em; */
  /* font-size: 50px; */
  /* margin-right: 400px; */
}
.h111:hover{
  color: black;

}
.fa.fa-external-link{
  visibility: hidden;
}
/* .fa.fa-share{
  visibility: hidden;
}
.fa.fa-share:hover{
  visibility: visible;
} */
.fa.fa-quote-right{
  text-align: right;
  float: right;
  right: 0!important;
  bottom: 0;
}
h5{
  background-color: black;
}
/* .navbar-toggler-icon{
  background-color: blue!important;
  color: black;
} */
/* .fa.fa-bars{
  transition: transform 0s!important;
  animation: none;
} */
.fa.fa-bars:hover{
transform: scale(1)!important;
}















.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: middle;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  /* background-color: */
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}
#bgco{
  font-family: 'Fredericka the Great', cursive;
  background-color: inherit;
  font-size: 60px;
  color: whitesmoke;
  vertical-align: middle;

}
.cd-intro{
  margin-top: 170px;
  margin-left: 30px;
  /* align-self: center!important;
  align-items: center!important;
  align-content: center!important; */
  /* vertical-align: middle; */
  /* margin-top: 50px; */
  /* align-items: center!important;
  text-align: center; */
}
#notb{
  font-style: normal!important;
  font-weight: 400;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* vertical bar */
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}

#bgc{
  display: none;
}

.intro{
  text-align: right;
  padding: 30px;
  opacity: 40%;
  -webkit-text-stroke-width: 0.01em;
  color: azure;
}
#hii{
  /* font-family: 'Merriweather Sans', sans-serif; */
  text-align: center;
  
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  opacity: 50%;
  z-index: -100;
  color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  
}


#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1021;
}
  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 49.97%;
      height: 100%;
      /* background: #222222; */
      background: black;
      z-index: 1021;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      border: 10px;
      border-color: white;
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      border: 50px;
      border-color: white;
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateY(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(100%);  /* IE 9 */
              transform: translateY(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  /* JavaScript Turned Off */
  .no-js #loader-wrapper {
      display: none;
  }
  .no-js h1 {
      color: #222222;
  }




.sticky-top, .jumbotron{
  position: relative;
  /* left :100%; */
  transition: transform 1.5s;
  -webkit-transform: translateX(-100%);  
          -ms-transform: translateX(-100%);  
                  transform: translateX(-100%);  
             
             
}
.sl1{
  position: relative;
  /* left :100%; */
  transition: transform 1.5s;
  -webkit-transform: translateX(100%);  
          -ms-transform: translateX(100%);  
                  transform: translateX(100%);
}

/* custom scrollbar  */
/* ::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  opacity: 40%;
}


::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
} */